<div class="row">
  <div class="col-4 text-break" style="background-color: none">
    <p>
      <%= distance_of_time_in_words_to_now comment.created_at %> ago: <strong><%= User.find(comment.user_id).login %>: </strong><%= comment.body %>
    </p>
  </div>
  <div class="col-6" style="background-color: none">
  </div>

  <% if user_logged_in %>
    <% if current_user_can_edit_comment(comment.user_id)%>
      <div class="col" style="background-color: none">
        <p>
          <%= link_to 'Delete Comment', [comment.article, comment],
                      method: :delete,
                      data: { confirm: ("Delete: " + comment.body.truncate(10) + "?")} %>
        </p>
      </div>
    <% end %>
  <% end %>
</div>